@import url('https://fonts.cdnfonts.com/css/norwester');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .brand-text {
    font-family: 'Norwester', sans-serif;
  }

  .responsive-text {
    font-size: var(--custom-text-size);
  }

}

@layer base {
  :root {
    --radius: 0.5rem --heading-text: 'Norwester', sans-serif;

    --custom-text-size: 1rem;
    /* Default font size (e.g., md) */
  }

  @media (min-width: 640px) {

    /* sm */
    :root {
      --custom-text-size: 0.875rem;
      /* Smaller font size for small screens */
    }
  }

  @media (min-width: 768px) {

    /* md */
    :root {
      --custom-text-size: 1rem;
      /* Medium font size */
    }
  }

  @media (min-width: 1024px) {

    /* lg */
    :root {
      --custom-text-size: 1.125rem;
      /* Larger font size */
    }
  }

  @media (min-width: 1280px) {

    /* xl */
    :root {
      --custom-text-size: 1.25rem;
      /* Even larger font size */
    }
  }

  @media (min-width: 1536px) {

    /* 2xl */
    :root {
      --custom-text-size: 1.5rem;
      /* Largest font size */
    }
  }

}